params {
    input = null
    fasta = null
    targetseq = null
}

docker.enabled = true
wave.enabled = true
docker.registry = 'quay.io'

profiles {
    test {
        params {
            fasta = "${projectDir}/examples/example.fa"
            targetseq = "ATGGGAGGAGAAGGGTATCGCGG"
        }
    }
    test_multi {
        params {
            fasta = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/genome.fasta"
            input = "${projectDir}/assets/samplesheet.csv"
        }
    }
}

plugins {
    id 'nf-schema@2.0.0'
}
