params {
    input = null
    fasta = null
    targetseq = null
}

docker.enabled = true
wave.enabled = true
docker.registry = 'quay.io'

profiles {
    test {
        params {
            fasta = "${projectDir}/examples/example.fa"
            targetseq = "ATGGGAGGAGAAGGGTATCGCGG"
        }
    }
    test_multi {
        params {
            fasta = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/genome.fasta"
            input = "${projectDir}/assets/samplesheet.csv"
        }
    }
    utd_ganymede {
        docker.enabled = false
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        wave.strategy = ["conda", "container"]
        singularity.registry = 'quay.io'
        process {
            cpus = 16
            memory = 28.GB
            time = 24.h
        }
    }
}

plugins {
    id 'nf-schema@2.0.0'
}
