params {
    input = null
    fasta = null
    targetseq = null
    outdir = "results"
}

docker.enabled = true
wave.enabled = true
docker.registry = 'quay.io'

profiles {
    test {
        params {
            fasta = "${projectDir}/examples/example.fa"
            input = "${projectDir}/examples/samplesheet.csv"
        }
    }
    test_multi {
        params {
            fasta = "https://github.com/nf-core/test-datasets/raw/modules/data/genomics/homo_sapiens/genome/genome.fasta"
            input = "${projectDir}/assets/samplesheet.csv"
        }
    }
    utd_ganymede {
        docker.enabled = false
        includeConfig "https://raw.githubusercontent.com/nf-core/configs/master/conf/utd_ganymede.config"
        wave.strategy = ["conda", "container"]
        singularity.registry = 'quay.io'
        process {
            cpus = 16
            memory = 26.GB
            time = 24.h
        }
    }
}

plugins {
    id 'nf-schema@2.0.0'
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy', // HACK hardcoded
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

}

manifest {
    defaultBranch = "main"
    homePage = "https://github.com/Functional-Genomics-Lab/primer3-nf"
    name = "primer3-nf"
    nextflowVersion = ">=24.04.0"
    version = "1.0.0dev"
}
